copy: *.patch
copy: *.desktop
copy: *.sh
tar: tuxguitar-@version@-src name=tuxguitar-@version@-src
tar: m2-repository-tuxguitar-@version@ name=m2-repository-tuxguitar-@version@
tar: pluginterfaces-tuxguitar-@version@ name=pluginterfaces-tuxguitar-@version@
spec: .gear/tuxguitar.spec
