copy: *.patch
copy: *.desktop
copy: *.sh
tar: tuxguitar name=tuxguitar
tar: m2-repository-tuxguitar name=m2-repository-tuxguitar
tar: pluginterfaces-tuxguitar name=pluginterfaces-tuxguitar
spec: tuxguitar.spec
